/* Algemene styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    text-align: center;
    color: black;
    font-size: 150px;
    padding: 20px;
    font-family:'Roboto', sans-serif;
    font-weight: 800;
  }

  nav{
    text-align: right;
  }

  nav > button{
    font-size: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  button:hover {
    background: black;
    color: white;
  }
  
  .hidden {
    display: none;
  }
  
  main {
    text-align: center;
    padding: 20px;
  }
  
  /* Foto slideshow */
  .photo-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .arrow {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  #photo-container {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 10px;
  }
  
  .info {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
  }
  

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  